<div class="giveBorder container justify-content-center text-center">
  <div class="products">
    <div class="row">
      <div class="discount">
        <span class="discount2">{{product.productPriceBeforeDiscount | discount:product.productPrice }}</span>
      </div>
        <img class="productImage"
        src="https://theflyingbasket.com/assets/productimages/{{product.id}}/{{product.productImage1}}"
        (click)="showDetails()">
    </div>
    <div class="row" style="padding-left: 10px; padding-right: 10px;">
      <span class="productName" (click)="showDetails()">{{product.productName}}</span>...<br>
    </div>
    <div *ngIf="!productVarietyAvailable" class="row" style="padding-left: 10px; padding-right: 10px;">
      <span class="productPrice">Rs. {{product.productPrice}}</span> <br>
      <span class="productPriceBeforeDiscount">{{product.productPriceBeforeDiscount | marketPrice}}</span><br>
      <span class="discount">{{product.productPriceBeforeDiscount | discount:product.productPrice }}</span>
    </div>
    <div class="row" style="padding-left: 10px; padding-right: 10px;">
      <form *ngIf="productVarietyAvailable" class="form form-group" [formGroup]="productVarietyForm">
        <div class="productVariety">
          <select formControlName="productVariety" name="productVariety" class="form-control">
            <option value="" selected disabled>Choose Quantity
            </option>
            <option *ngFor="let priceVariety of myproductVariety" value="{{priceVariety.productPrice}}">
              {{priceVariety.productQuantity}} {{priceVariety.quantityType}} - Rs. {{priceVariety.productPrice}}
            </option>
          </select>
        </div>
      </form>
    </div>
    <!-- <a (click)="addToWishlist()"><i class="fa fa-heart wishIcon" [ngClass]="{'addedToList':'addedToWishlist'}" aria-hidden="true"></i></a> -->
    <div *ngIf="showActions" class="mybtn-block row" style="padding-left: 10px; padding-right: 10px;">
      <button *ngIf="productQuantity == 0; else updateQuantity" (click)="addToCart()"
        [disabled]="product.productAvailability=='Out of Stock' || productVarietyForm.invalid"
        class="btn btn-success btn-block" title="{{product.productAvailability}}">Add to Cart</button>
      <ng-template #updateQuantity>
        <app-product-quantity [product]="product" [myCart]="myCart">
        </app-product-quantity>
      </ng-template>
    </div>
  </div>
</div>