<div class="container">
  <div class="row">
    <div class="col-4">
      <a class="dropdown-item mylink" [routerLink]='["/AboutUs"]' routerLinkActive="active">About Us</a>
    </div>
    <div class="col-8">
      <a class="dropdown-item mylink" [routerLink]='["/Cancel&Return"]' routerLinkActive="active">Cancel & Return
        Policy</a>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <a class="dropdown-item mylink" [routerLink]='["/Delivery"]' routerLinkActive="active">Delivery Policy</a>
    </div>
    <div class="col-6">
      <a class="dropdown-item mylink" [routerLink]='["/Privacy-Policy"]' routerLinkActive="active">Privacy Policy</a>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <b class="copyright">&copy; 2019 The Flying Basket </b> 
    </div>
    <div class="col-6">
        &nbsp; All rights reserved.
      </div>
  </div>
</div>
