<div class="hide">
  <div class="mobile-app-icon-bar">
    <button class="btn btn-myapp">
      <i class="fa fa-home" aria-hidden="true" routerLinkActive="active" [routerLink]='["/"]'></i>
    </button>
    <button class="btn btn-myapp">
      <i class="fa fa-user" aria-hidden="true" [routerLink]='["/myAccount"]' routerLinkActive="active"></i>
    </button>
    <button class="btn btn-myapp">
      <i class="fa fa-heart" aria-hidden="true"></i>
    </button>
    <button class="btn btn-myapp">
      <i class="fa fa-support" aria-hidden="true" [routerLink]='["/support"]' routerLinkActive="active"></i>
    </button>
  </div>
</div>